replicaCount: 2

image:
  repository: asia-northeast3-docker.pkg.dev/storied-reserve-473208-t1/devops-repo/app
  tag: "b4f41e1ce65c3fda7284e246280df638bf53ee0f"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi

env:
  APP_PORT: "8080"
  DB_HOST: "db"
  DB_PORT: "5432"
  DB_USER: "postgres"
  DB_PASS: "password"
  DB_NAME: "appdb"
  REDIS_ADDR: "redis-master:6379"
