apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-image-updater-config
  namespace: argocd
data:
  registries.conf: |
    registries:
      - name: dockerhub
        api_url: https://registry-1.docker.io
        prefix: docker.io
        default: true
