apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "app.fullname" . }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      {{- include "app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "app.selectorLabels" . | nindent 8 }}
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.port }}
          env:
            - name: APP_PORT
              value: "{{ .Values.env.APP_PORT }}"
            - name: DB_HOST
              value: "{{ .Values.env.DB_HOST }}"
            - name: DB_PORT
              value: "{{ .Values.env.DB_PORT }}"
            - name: DB_USER
              value: "{{ .Values.env.DB_USER }}"
            - name: DB_NAME
              value: "{{ .Values.env.DB_NAME }}"
            - name: REDIS_ADDR
              value: "{{ .Values.env.REDIS_ADDR }}"
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.env.DB_PASS_FROM_SECRET }}
                  key: password
          resources:
            {{- toYaml .Values.resources | nindent 12 }}

        # ✅ Cloud SQL Proxy Sidecar (DB 접속 담당)
        - name: cloud-sql-proxy
          image: gcr.io/cloud-sql-connectors/cloud-sql-proxy:2.10.1
          args:
            - "--private-ip"
            - "--auto-iam-authn"
            - "--port=5432"
            - "{{ .Values.db.instanceConnectionName }}"
          securityContext:
            runAsNonRoot: true
