{{- if .Values.migration.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Values.migration.jobName | default "app-migration" }}
  annotations:
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/hook-delete-policy: BeforeHookCreation,HookSucceeded
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true

spec:
  backoffLimit: 1
  template:
    spec:
      restartPolicy: Never
      serviceAccountName: app-db

      initContainers:
        - name: copy-migrations
          image: alpine:3.19
          securityContext:
            runAsUser: 0
          command: ["/bin/sh","-c"]
          args:
            - |
              set -e
              echo "Copy migrations..."
              cp -RL /src/* /migrations/
              echo "== InitContainer: copied files =="
              ls -l /migrations
          volumeMounts:
            - name: migration-src
              mountPath: /src
            - name: migrations
              mountPath: /migrations

      containers:
        - name: migrate
          image: postgres:16-alpine
          command: ["/bin/sh","-c"]
          volumeMounts:
            - name: migrations
              mountPath: /migrations
          args:
            - |
              set -e
              echo "== Waiting for Cloud SQL Proxy on 127.0.0.1 =="
              ...

        - name: cloud-sql-proxy
          image: gcr.io/cloud-sql-connectors/cloud-sql-proxy:2.10.1
          securityContext:
            runAsNonRoot: true

      volumes:
        - name: migration-src
          configMap:
            name: {{ include "app.fullname" . }}-migrations
        - name: migrations
          emptyDir: {}
{{- end }}
