{{- if .Values.migration.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Values.migration.jobName | default "app-migration" }}
  labels:
    app.kubernetes.io/name: app
    app.kubernetes.io/managed-by: Helm
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      serviceAccountName: app-db

      containers:
        - name: migrate
          image: postgres:16-alpine
          command: ["/bin/sh", "-c"]
          args:
            - |
              echo "Running migrations..."

              for f in /migrations/*.sql; do
                echo "Applying migration: $f"
                export PGPASSWORD="$DB_PASS"
                psql -h 127.0.0.1 -p 5432 -U "$DB_USER" -d "$DB_NAME" -f "$f"
              done

              echo "Migrations completed."

          env:
            - name: DB_USER
              value: "{{ .Values.env.DB_USER }}"
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.env.DB_PASS_FROM_SECRET }}
                  key: password
            - name: DB_NAME
              value: "{{ .Values.env.DB_NAME }}"
          volumeMounts:
            - name: migrations
              mountPath: /migrations

        - name: cloud-sql-proxy
          image: gcr.io/cloud-sql-connectors/cloud-sql-proxy:2.10.1
          args:
            - "--auto-iam-authn"
            - "--private-ip"
            - "--port=5432"
            - "--address=0.0.0.0"
            - "{{ .Values.db.instanceConnectionName }}"
          securityContext:
            runAsNonRoot: true

      volumes:
        - name: migrations
          configMap:
            name: {{ include "app.fullname" . }}-migrations
{{- end }}
