{{- if .Values.migration.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: app-migration
  labels:
    app.kubernetes.io/name: app
    app.kubernetes.io/managed-by: Helm
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      serviceAccountName: app-db

      containers:
        - name: migrate
          image: postgres:16-alpine
          command: ["sh", "-c"]
          args:
            - |
              echo "Running migrations..."
              psql "postgresql://$(DB_USER):$(DB_PASS)@[::1]:5432/$(DB_NAME)" -f /migrations/*.sql
            #   psql "postgresql://$(DB_USER):$(DB_PASS)@127.0.0.1:5432/$(DB_NAME)" -f /migrations/*.sql
          env:
            - name: DB_USER
              value: "{{ .Values.env.DB_USER }}"
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: app-db-secret
                  key: password
            - name: DB_NAME
              value: "{{ .Values.env.DB_NAME }}"
          volumeMounts:
            - name: migrations
              mountPath: /migrations

        - name: cloud-sql-proxy
          image: gcr.io/cloud-sql-connectors/cloud-sql-proxy:2.10.1
          args:
            - "--auto-iam-authn"
            - "--private-ip"
            - "--port=5432"
            - "--address=0.0.0.0"
            - "{{ .Values.db.instanceConnectionName }}"
          securityContext:
            runAsNonRoot: true

      volumes:
        - name: migrations
          configMap:
            name: app-migrations
{{- end }}
