{{- if .Values.migration.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Values.migration.jobName | default "app-migration" }}
  annotations:
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/hook-delete-policy: BeforeHookCreation,HookSucceeded
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true

spec:
  backoffLimit: 1
  template:
    spec:
      restartPolicy: Never
      serviceAccountName: app-db

      initContainers:
        - name: copy-migrations
          image: alpine:3.19
          command: ["/bin/sh", "-c"]
          args:
            - |
              set -e
              echo "Copy migrations..."
              mkdir -p /migrations
              cp -R /src/* /migrations/ || true
              ls -l /migrations
          volumeMounts:
            - name: migration-src
              mountPath: /src
            - name: migrations
              mountPath: /migrations

      containers:
        - name: migrate
          image: postgres:16-alpine
          command: ["/bin/sh", "-c"]
          args:
            - |
              set -e
              echo "== Waiting for Cloud SQL Proxy on 127.0.0.1 =="

              for i in $(seq 1 30); do
                if pg_isready -h 127.0.0.1 -p 5432 -U "$DB_USER" >/dev/null 2>&1; then
                  echo "Proxy ready"
                  break
                fi
                echo "Cloud SQL Proxy not ready... ($i/30)"
                sleep 2
              done

              export PGPASSWORD="$DB_PASS"
              FILES=$(ls /migrations/*.sql 2>/dev/null || true)

              if [ -z "$FILES" ]; then
                echo "No migration files found"
                exit 0
              fi

              for f in $FILES; do
                echo "Applying $f"
                psql -h 127.0.0.1 -p 5432 -U "$DB_USER" -d "$DB_NAME" -v ON_ERROR_STOP=1 -f "$f"
              done

              echo "Done."

          env:
            - name: DB_USER
              value: {{ .Values.env.DB_USER | quote }}
            - name: DB_NAME
              value: {{ .Values.env.DB_NAME | quote }}
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.env.DB_PASS_FROM_SECRET }}
                  key: password
          volumeMounts:
            - name: migrations
              mountPath: /migrations

        - name: cloud-sql-proxy
          image: gcr.io/cloud-sql-connectors/cloud-sql-proxy:2.10.1
          args:
            - "--auto-iam-authn"
            - "--private-ip"
            - "--port=5432"
            - "--address=0.0.0.0"
            - "{{ .Values.db.instanceConnectionName }}"

      volumes:
        - name: migration-src
          configMap:
            name: {{ include "app.fullname" . }}-migrations
        - name: migrations
          emptyDir: {}
{{- end }}
